In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/train_delay.csv")
df.head()

,train_number,train_type,source,destination,distance_km,day_of_week,month,delay_minutes
0,12574,Shatabdi,MAS,NDLS,1086,Monday,7,45
1,12794,Superfast,NDLS,CNB,693,Thursday,3,8
2,12951,Superfast,PNBE,HWH,843,Sunday,8,37
3,12957,Vande Bharat,HWH,DDU,1283,Saturday,4,23
4,12452,Rajdhani,CSMT,SBC,1476,Saturday,10,18

In [2]:
y = df['delay_minutes']

In [3]:
X = df.drop(columns=['delay_minutes', 'train_number'])

Train number was excluded due to high cardinality and lack of predictive pattern

In [4]:
X.dtypes

train_type     object
source         object
destination    object
distance_km     int64
day_of_week    object
month           int64
dtype: object

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [6]:
categorical_cols = ['train_type', 'source', 'destination', 'day_of_week']
numerical_cols = ['distance_km', 'month']

In [7]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(drop='first', handle_unknown='ignore'), categorical_cols),
        ('num', 'passthrough', numerical_cols)
    ]
)

In [8]:
X_transformed = preprocessor.fit_transform(X)

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_transformed,
    y,
    test_size=0.2,
    random_state=42
)

Data was split into 80% training and 20% testing to evaluate model performance

In [10]:
X_train.shape, X_test.shape

((400, 32), (100, 32))